p{
    color:blue
}
button, input, optgroup, select, textarea {
    margin: 20px !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: flex;
    width: 250px;
    height: 55px;
    border: 2px dashed #dddddd75;
    padding: 10px 22px;
    background-color: #F3F6FD;
    font-size: 16px;
    box-shadow: 0px 1px 13px 0px #0000000d;
  }